# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Игнорировать файлы и папки, созданные CMake
_deps/
cmake-build-default/
build/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
.idea/